

body {
  background-color: #ffffde;
}

* {
  font-family: Arial, Tahoma, sans-serif;
  font-size: 100%;
}

#header {
  margin-bottom: 10px;
}

#titleText {
  font-family: Verdana;
  font-size: 120%;
  font-weight: bolder;
  float: left;
}

#heyaGraphLink {
  float: left;
}

#creditText, [href] {
  float: right;
  font-size: 80%;
  font-style: italic;
  margin-left: 5px;
}

fieldset {
  padding: 2px;
  font-size: 80%;
}

.setViewport, #resetViewportButton, #rangeSelector, #toggleSekitori, #hideAll{
  display: inline-block;
  margin: 3px;
}

#resetViewportButton {
  background-color: lightpink;
}

.currentViewport{
  float: right;
  margin: 3px;
}

#viewportX {
  font-weight: bold;
  text-align: center;
  background-color: transparent;
  border: none;
}

#chartContainer {
  height: 450px; 
  width: auto;
  border: 1px solid gray;
}

#legendTitle, #legendTitleOther {
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 80%;
  font-family: Verdana;
  margin-left: 40px;
}

#legendTitle {
  color: green;
}

#legendTitleOther {
  color: blue;
}

#legends, #legendsOther {
  overflow: scroll;
  margin-bottom: 5px;
  overflow-x: hidden;
  border-bottom: 1px solid darkslategray;
  display: block;
}

li { 
  list-style-type: "● ";
  font-size: 90%;
  cursor: pointer;
  width: auto;
  float: left;
  margin: 1px 0;
  margin-left: 20px;
  margin-bottom: 5px;
  min-width: 80px;
}

#name0, #name48 {
  font-style: italic;
}

.collapsible {
  background-color: powderblue;
  color: black;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 12px;
  padding: 10px;
  border: none;
}

.active, .collapsible:hover {
  background-color: lightsteelblue;
}

.content {
  font-size: 80%;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
  line-height: 1.2;
}